<form #userForm="ngForm" class="example-form">
  {{userForm.value | json}}
  <hr>
  {{userModel | json}}
  <mat-form-field>
    <input type="text" #username="ngModel" matInput required minlength="10"  placeholder="Username" name="username" [(ngModel)]="userModel.name">
    <mat-error *ngIf="username.errors?.required && (username.dirty || username.touched)">
      Please enter name
    </mat-error>
    <!-- <mat-error *ngIf="username.errors.minlength">
      Name too long
    </mat-error> -->
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="userModel.email">
  </mat-form-field>

  <mat-form-field>
      <input type="tel" matInput placeholder="Phone" name="phone" [(ngModel)]="userModel.phone">
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Favourite Food" name="topic" [(ngModel)]="userModel.topic">
        <mat-option *ngFor="let topic of topics" [value]="topic">
            {{topic}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-radio-group name="timePreference" [(ngModel)]="userModel.timePreference">
    <mat-radio-button value="1">Morning</mat-radio-button>
    <mat-radio-button value="2">Evening</mat-radio-button>    
  </mat-radio-group>

  <mat-checkbox name="offer" [(ngModel)]="userModel.subscribe">Send me promotional offers</mat-checkbox>

  <button mat-raised-button color="accent">Submit</button>
</form>
